:root{
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #ffc107;
    --secundario: #0097a7;
    --gris: #757575;
}

html{
    font-size: 62.5%;


}

body{
    font-size: 16px;
    
}

.titulo{
    text-align: center;
    font-size: 3.8rem;
    font-family: Arial, Helvetica, sans-serif;
    font-family: 'Krub', sans-serif;
    
}

.titulo span{
    font-size: 2rem;
}

/*
.navegacion-principal{
    background-color: var(--secundario);

}
*/
/*Esto es dentro del nav, la clase la llamamos navegacion-principal contenedor*/
.contenedor{
    width: 120rem;
    /*margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;*/
    margin: 0 auto;

}

.nav-bg{
    background-color: var(--secundario);
    font-family: Arial, Helvetica, sans-serif;
    font-family: 'Krub', sans-serif;
}

.navegacion-principal{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-weight: bold;
    font-size: 2rem;
   
}

.navegacion-principal a{
    padding: 1rem; /*Aqui se coloca el padding para que se refleje con el hover*/
    /*display: block;  Para poner los elementos uno sobre otro*/
    color: var(--blanco); /*Color de la letra*/
    text-decoration: none;
}

/*Para cuuando pasemos el raton sobre los elementos de la navegacion*/
.navegacion-principal :hover{
    padding: 1rem; /*Aqui se coloca el padding para que se refleje con el hover y sea del mismo tamaño que el contenido de la navegacion principal*/
    background-color: var(--primario);
    color: var(--oscuro);
    
}

@media (min-width: 768px) {
    .navegacion-principal{
        flex-direction: row; /*Para que se acomode como filas cuando se haga mas pequena la pantalla*/
        
    }
 }
